<form [formGroup]="registerForm" (ngSubmit)="submit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="image-profile-container">
        <span>
          <mat-icon class="image-profile-picture">account_circle</mat-icon>
        </span>
      </div>
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input
          matInput
          placeholder="label"
          [autofocus]="true"
          id="firstName"
          name="firstName"
          value=""
          [formControl]="registerForm.controls!.firstName"
        />
      </mat-form-field>
      <div
        class="invalid-feedback"
        *ngIf="
          registerForm.invalid &&
          (registerForm.controls!.firstName!.touched ||
            registerForm.controls!.firstName!.dirty) &&
          registerForm.controls!.firstName!.errors
        "
      >
        <div *ngIf="registerForm.controls!.firstName!.errors!['required']">
          FirstName is Required
        </div>
        <div *ngIf="registerForm.controls!.firstName!.errors!['minlength']">
          FirstName minimum length is 3 digits
        </div>
      </div>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input
          matInput
          placeholder="label"
          value=""
          [formControl]="registerForm.controls!.lastName"
        />
      </mat-form-field>
      <div
        class="invalid-feedback"
        *ngIf="
          registerForm.invalid &&
          (registerForm.controls!.lastName!.touched ||
            registerForm.controls!.lastName!.dirty) &&
          registerForm.controls!.lastName!.errors
        "
      >
        <div *ngIf="registerForm.controls!.lastName!.errors!['required']">
          LastName is Required
        </div>
        <div *ngIf="registerForm.controls!.lastName!.errors!['minlength']">
          LastName minimum length is 3 digits
        </div>
      </div>
      <mat-form-field>
        <mat-label>Name to be called</mat-label>
        <input
          matInput
          placeholder="label"
          value=""
          [formControl]="registerForm.controls!.calledName"
        />
      </mat-form-field>
      <div
        class="invalid-feedback"
        *ngIf="
          registerForm.invalid &&
          (registerForm.controls!.calledName!.touched ||
            registerForm.controls!.calledName!.dirty) &&
          registerForm.controls!.calledName!.errors
        "
      >
        <div *ngIf="registerForm.controls!.calledName!.errors!['required']">
          CalledName is Required
        </div>
        <div *ngIf="registerForm.controls!.calledName!.errors!['minlength']">
          CalledName minimum length is 3 digits
        </div>
      </div>

      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input
          matInput
          placeholder="label"
          value=""
          [formControl]="registerForm.controls!.email"
        />
      </mat-form-field>
      <div
        class="invalid-feedback"
        *ngIf="
          registerForm.invalid &&
          (registerForm.controls!.email!.touched ||
            registerForm.controls!.email!.dirty) &&
          registerForm.controls!.email!.errors
        "
      >
        <div *ngIf="registerForm.controls.email.errors?.['required']">
          E-mail is Required
        </div>
        <div *ngIf="registerForm.controls.email.errors?.['email']">
          Should be a email
        </div>
      </div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="label"
          value=""
          [formControl]="registerForm.controls!.password"
        />
      </mat-form-field>
      <div
        class="invalid-feedback"
        *ngIf="
          registerForm.invalid &&
          (registerForm.controls!.password!.touched ||
            registerForm.controls!.password!.dirty) &&
          registerForm.controls!.password!.errors
        "
      >
        <div *ngIf="registerForm.controls!.password!.errors!['required']">
          Password is Required
        </div>
        <div *ngIf="registerForm.controls!.password!.errors!['pattern']">
          Password is invalid. It should be between 8 and 15 digits, 1 Upper
          letter, 1 Lower Letter, 1 Special Character and 1 Number
        </div>
        <div *ngIf="registerForm.hasError('nomatch')">
          Password does not match with ConfirmPassword
        </div>
      </div>
      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="label"
          value=""
          [formControl]="registerForm.controls!.confirmPassword"
        />
      </mat-form-field>
      <div
        class="invalid-feedback"
        *ngIf="
          registerForm.invalid &&
          (registerForm.controls!.confirmPassword!.touched ||
            registerForm.controls!.confirmPassword!.dirty) &&
          registerForm.controls!.confirmPassword!.errors
        "
      >
        <div
          *ngIf="registerForm.controls!.confirmPassword!.errors!['required']"
        >
          Confirm Password is Required
        </div>
        <div *ngIf="registerForm.controls!.confirmPassword!.errors!['pattern']">
          Confirm Password is invalid. It should be between 8 and 15 digits, 1
          Upper letter, 1 Lower Letter, 1 Special Character and 1 Number
        </div>
        <div *ngIf="registerForm.hasError('nomatch')">
          Password does not match with ConfirmPassword
        </div>
      </div>

      <div>
        <button
          type="button"
          mat-raised-button
          (click)="clear()"
          class="buttons"
        >
          <mat-icon>clear</mat-icon> Clear
        </button>
        <button mat-raised-button color="primary" class="buttons"
        [disabled]="!registerForm.valid">
          <mat-icon>keyboard_return</mat-icon>Submit
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<!-- {{ registerForm.value | json}} -->

<!-- <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select placeholder="Gender" formControlName="gender">
          <mat-option *ngFor="let item of SexEnum" [value]="item.key">
            {{ item.value }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
<!-- <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="label" value="" formControlName="phone" />
      </mat-form-field> -->
