<form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
  <mat-card class="form-group">
    <mat-card-header>
      <mat-card-title> Change Password </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Current Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="label"
          [autofocus]="true"
          formControlName="currentPassword"
          />
      </mat-form-field>
      <mat-form-field>
        <mat-label>New Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="label"
          value=""
          formControlName="newPassword"
          />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm New Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="label"
          value=""
          formControlName="confirmPassword"
          />
      </mat-form-field>

      <div class="flat pull-right">
        <button type="button" mat-raised-button class="buttons" (click)="clear()">
          <mat-icon>clear</mat-icon> Clear
        </button>
        <button
          mat-raised-button
          color="primary"
          class="buttons"
        >
          <mat-icon>keyboard_return</mat-icon>Submit
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
