/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f1eded;
  display: contents;
}

@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');


a:hover {
  cursor: pointer;
}

.v-middle {
  vertical-align: middle;
}

form {
  mat-card {
    mat-card-content {
      div.invalid-feedback {
        display: contents;
        width: 100%;

        .ng-star-inserted {
          display: contents !important;
          background-color: transparent;
          border: 0px;
        }
      }
    }
  }
}
